.center{
    text-align:center;
    height:100%;
    display:flex; 
    align-items:center;
    justify-content:center;
}


.name{
    /* color: rgb(40, 75, 131);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-family: 'Besley';
font-style: normal;
font-weight: 700;
font-size: 44px;
  }