.popup-title {
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: capitalize;
}

.outfit-name {
    margin: 0px;
}

.tags-header {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    margin-right: 16px;
}