body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  width: 100%;
}

h2.capitalize {
  text-transform: capitalize;
}

/* use img-container and img-square to make square images! */
.img-container {
  position: relative;
}

.img-container::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.img-square {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-container {
  list-style: none;
  padding: 0;
  white-space: nowrap;
  display: flex;
  width: 100%;
  overflow-x: auto;
  align-items: center;
  margin-top: 12px;
}

.img-carousel {
  flex: 0 0 calc(100% / 3);
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.home{
    /* 
    height:100%;
    display:flex; 
    align-items:center;
    justify-content:center; */
    background-color: rgb(244,190, 165);
    height: 100vh;
    text-align:center;

}
