@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4 {
  font-family: 'Besley', serif;
}

p, span, div, input, button {
  font-family: 'Inter', sans-serif !important;
}

img {
  width: 100%;
}

h2.capitalize {
  text-transform: capitalize;
}

/* use img-container and img-square to make square images! */
.img-container {
  position: relative;
}

.img-container::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.img-square {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-container {
  list-style: none;
  padding: 0;
  white-space: nowrap;
  display: flex;
  width: 100%;
  overflow-x: auto;
  align-items: center;
  margin-top: 12px;
}

.item-carousel {
  flex: 0 0 calc(100% / 3);
  justify-content: center;
  align-items: center;
  margin-right: 12px;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  width: 100vw;
}

.home {
    background-color: rgb(244,190, 165);
    height: 100vh;
    text-align:center;
}

.name {
  font-weight: 700;
  font-size: 44px;
  margin-top: 8px;
}

.settings{
  width: auto;
}

/* button css */
.gray-circle-btn {
  color: #757575 !important;
  border-color: #757575 !important;
  border-radius: 500px !important;
}